body {
  background-color: #ffffff;
}

.App {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: center;
  font-size: 16px;
}

.navbar ul {
  list-style: none;
  display: flex;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.navbar ul li {
  margin: 20px;
}
.navbar a {
  text-decoration: none;
  color: rgb(9, 39, 87);
  padding: 10px 20px;
  border-radius: 20px;
}

.navbar a:hover {
  color: #ffffff;
  background-color: rgb(9, 39, 87);
  transition: 0.5s;
}